* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80vw;
  margin: 2rem auto;
  padding: 4rem;
  border: 1px solid black;
}

.items-container {
  margin: 1rem 0;
}

.input-search {
  padding: 1rem;
}

@media (max-width: 600px) {
  .container {
    padding: 1rem;
    margin: 0 1rem;
    width: 100%;
  }
}
